<!DOCTYPE html>
<md-dialog aria-label="About Us">
  <form>
    <link rel="stylesheet" href="style/css/main-style.css"/>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>About Us</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <md-icon md-svg-src="style/img/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="uni-font-face">
      <p>ZUz Convertor အကြောင်း</p>
      <p>
        ZUz အမည်အပြည့်အစုံမှာ Zawgyi to Unicode to zawgyi ဖြစ်သည်။ ယခု ZUz Unicode Zawgyi Convertor ကို Myanmar
Unicode Area အဖွဲ့မှ အဖွဲ့ဝင် ဖြစ်သူ ကိုပိုင်ဟိန်းသူ နှင့် ကိုငြိမ်းချမ်း တို့မှ mrdba.info/unicode-converter အင်တာနက်စာမျက်နှာမှ ပြောင်းလဲသော
ကုဒ်များကို ကူးယူပြီး ရေးသားဖန်တီးခဲ့ပြီး Mobile Version, Chrome Version ဖြင့် အခမဲ့ ဖြန့်ဝေခဲ့သည်။ ယခု ဗားရှင်းမှာ ဗားရှင်း ၂.၀ ဖြစ်ပြီး
Chrome Browser တွင်အသုံးပြုနိုင်သော App တစ်ခုဖြစ်သည်။
      </p>
      <p>မြန်မာယူနီကုဒ်ဧရိယာ အဖွဲ့အကြောင်း</p>
      <p>
        မြန်မာယူနီကုဒ်ဧရိယာကို ၂၀၁၄ ခုနှစ် စက်တင်ဘာလ (၁၈) ရက်နေ့တွင် Myanmar Mobile Users Group ရှိ ပို့စ်တစ်ခုမှ စတင်ကာ
မြန်မာယူနီကုဒ်ဧရိယာ အဖွဲ့တစ်ခုအဖြစ် Facebook တွင် တည်ထောင်ခဲ့သည်။ အဖွဲ့ဝင်တော်တော်များများဖြင့် တက်ကြွစွာ လှုပ်ရှားပါဝင်ခဲ့ကြသည်။
မြန်မာယူနီကုဒ်ဧရိယာ၏အဓိကရည်ရွယ်ချက်မှာ မြန်မာနိုင်ငံသားအားလုံး စံသတ်မှတ်ချက်နှင့် ကိုက်ညီသော မြန်မာစာစနစ်ကို သုံးစွဲစေရေးအတွက်
ဝိုင်းဝန်း ဆောင်ရွက်ကြရန်ဖြစ်သည်။ အဖွဲ့၏ လက်ရှိဆောင်ပုဒ်မှာ ဒီဂျစ်တယ်ခေတ်တွင် နိုင်ငံတကာသုံးစံနှုန်းများကို သုံးစွဲခြင်းဖြင့်
ဘာသာစကားများကို ထိန်းသိမ်း ကာကွယ်ပါ ဟူ၍ ဖြစ်သည်။
      </p>

    </div>
  </md-dialog-content>
  <md-divider></md-divider>
  <div class="md-actions" layout="row">
    <md-button  class="md-primary uni-font-face" href="https://my.wikipedia.org/wiki/%E1%80%99%E1%80%BC%E1%80%94%E1%80%BA%E1%80%99%E1%80%AC%E1%80%9A%E1%80%B0%E1%80%94%E1%80%AE%E1%80%80%E1%80%AF%E1%80%92%E1%80%BA%E1%80%A7%E1%80%9B%E1%80%AD%E1%80%9A%E1%80%AC" target="_blank" show-md>
      ပိုမိုသိရှိရန် Wikipedia သို့သွားရန်
    </md-button>
    <span flex></span>
    <md-button  class="md-primary uni-font-face" href="http://mua.wikidot.com/" target="_blank" show-md>
      အသုံးပြု ဆော့ဝဲလ်များ ရယူရန်
    </md-button>
    <span flex></span>
    <md-button  class="md-primary uni-font-face" href="https://www.facebook.com/groups/mmUnicode" target="_blank" show-md>
      facebook အဖွဲ့ သို့သွားရန်
    </md-button>
  </div>
  </form>
</md-dialog>
